@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap');

#root{
    min-width: 370px; background: lightcoral; height: 100%; width: 100%; list-style: none;
    .App{
        width: 100%; height: auto;//<-추후 수정 필요
        header{
            width: 370px; display: flex; justify-content: space-around; position: fixed; top: 0; color: white; left: 50%; transform: translateX(-50%); background-color: rgba($color: #fff, $alpha: 0); z-index: 999;
            h1{
                cursor: pointer; text-shadow: 1px 1px #ddd;
            }
        }
        main{
            width: 100%; height: auto;
            .slideImg{
                ul{ 
                    margin: 0; list-style: none; padding: 0; position: relative;
                    li{
                        position: absolute; top: 0; left: 100%;
                        &:first-child{
                            left: 0;
                        }
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
